services:
  app:
    image: openjdk:17-jdk-slim
    container_name: fatepet-dev-app
    working_dir: /app
    volumes:
      - .:/app
      - gradle-cache:/root/.gradle
    command: ./gradlew bootRun
    ports:
      - "8080:8080"
    depends_on:
      - mysql
    env_file: .env
    environment:
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
    networks:
      - fatepet-network

  mysql:
    image: mysql:8.0
    container_name: fatepet-db
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - fatepet-network

volumes:
  mysql-data:
  gradle-cache:

networks:
  fatepet-network: